################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Reporting Suite/bin/Release/Purchase Document Enquiry Report.rdl
